<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhishu.samples.mappers.TestMapper">

    <select id="findAll" resultType="com.zhishu.samples.entitys.TestEntity">
        SELECT * FROM tb_ep11
    </select>

    <select id="findAllById" resultType="com.zhishu.samples.entitys.TestEntity">
        SELECT * FROM tb_ep11 where id > #{id}
    </select>
</mapper>